*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}