[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
flask-cors = "*"
faker = "*"
python-dotenv = "*"
pyjwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_full_version = "3.10.12"
